In [9]:
a = int(input("a :"))
b = int(input("b :"))
result = a + b
print(result)

a :3
b :4
7

In [16]:
birthYear = int(input("태여난해는? :"))
thisYear = 2021
age = thisYear - birthYear
print(str(birthYear) + " 년에 태여난 당신은 " + str(age) + "살입니다")

태여난해는? :2001
2001 년에 태여난 당신은 20살입니다

In [20]:
a = 20
print("%d"%a)   #10진수
print("%o"%a)   #8진수
print("%x"%a)   #16진수
print("%f"%a)   #실수

20
24
14
20.000000

In [29]:
a = 20
print("00000000")
print("%5d"%a)   #10진수
print("%5.1f"%a)   #실수
print("%o"%a)   #8진수
print("%x"%a)   #16진수

00000000
   20
 20.0
24
14

In [24]:
print("{0} {1}".format("korea","2021"))

korea 2021

In [27]:
print("한국 \n아이티전문\t학원")

한국
아이티전문	학원

In [26]:
print("1234567890123456789")
print("{0}{1:5}".format(a,a))

1234567890123456789
20   20

In [36]:
C = int(input("섭씨온도를 입력 :"))
F = C * int(1.8) + int(32)
print("섭씨온도")
print("%5.2f"%C)
print("화씨온도")
print("%5.2f"%F)

섭씨온도를 입력 :0
섭씨온도
 0.00
화씨온도
32.00

In [38]:
print(10/3)
print(10//3)

3.3333333333333335
3

In [39]:
print(10 % 3)

1

In [41]:
print(3**2)

9

In [42]:
print(3**3)

27

In [56]:
r = float(input("반지름 :"))
pl = 3.1415
면적 = pl * int(r)**2
print(면적)

반지름 :10
314.15000000000003